* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  color: #393c41;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 10px;
}

/* Track */
html::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
}

@keyframes animateButton {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-8px);
  }

  60% {
    transform: translateY(-5px);
  }
}
